<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <title>Access Denied</title>
  </head>
  <body>
    <div class="container">
      <p><TMPL_VAR NAME=message></p>
    </div>
  </body>
</html>

