<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Languages</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script nonce="<TMPL_VAR name="nonce"/>">
      function goBack() {
          window.history.back();
      }
    </script>
  </head>
  <body>
    <h2>Create Language for <TMPL_VAR name="agent_name"/></h2>
    <div class="container">
      <form action="/language" method="POST" accept-charset="utf-8">
	<table>
	  <tr>
	    <th colspan="2">
	      &nbsp
	    </th>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="code">Code:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="code" name="code" required><br/>
	      <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	      <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
	      <input type="hidden" name="agent_name" value="<TMPL_VAR name="agent_name"/>">
	      <input type="hidden" name="action" value="create">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="name">Name:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="name" name="name" required>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="voice">Voice:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="voice" name="voice" required>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="engine">Engine:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="engine" name="engine" required>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="fillers">Fillers:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="fillers" style="width: 600px;" name="fillers">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="language_order">Order:</label>
	    </td>
	    <td style="text-align: left">
	      <select id="language_order" name="language_order">
	        <option value="0" selected>0</option>
	        <option value="1">1</option>
	        <option value="2">2</option>
	        <option value="3">3</option>
	        <option value="4">4</option>
	        <option value="5">5</option>
	        <option value="6">6</option>
	        <option value="7">7</option>
	        <option value="8">8</option>
	        <option value="9">9</option>
	        <option value="10">10</option>
	        <option value="11">11</option>
	        <option value="12">12</option>
	        <option value="13">13</option>
	        <option value="14">14</option>
	        <option value="15">15</option>
	        <option value="16">16</option>
	        <option value="17">17</option>
	        <option value="18">18</option>
	        <option value="19">19</option>
	        <option value="20">20</option>
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="2" class="button">
	      <br/><br/>
	      <button type="button" id="back-button" onclick="goBack()">Go Back</button>&nbsp;&nbsp;<input type="submit" value="Create"  class="submit-button">
	      <br/><br/>
	    </td>
	  </tr>
	</table>
      </form>
    </div>
  </body>
</html>

