<!DOCTYPE html>
<html>
  <head>
    <title>Step</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script src="/assets/ace.js" type="text/javascript" charset="utf-8" nonce="<TMPL_VAR name="nonce"/>"></script>
    <script nonce="<TMPL_VAR name="nonce"/>">
      function goBack() {
          window.history.back();
      }
    </script>
  </head>
  <body>
    <TMPL_INCLUDE NAME="/app/template/header.tmpl">
    <h2>Create Step</h2>
    <div class="container">
      <form id="markdownForm" action="/step" method="POST" accept-charset="utf-8">
	<table>
	  <tr>
	    <th colspan="2">
	      &nbsp;
	    </th>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="ai_step_pattern">Pattern:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="ai_step_pattern" name="ai_step_pattern" required>
	      <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	      <input type="hidden" name="action" value="create">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="ai_step_b2b_function">B2B Function:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="checkbox" id="ai_step_b2b_function" name="ai_step_b2b_function">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="toggle_function">Toggle Function:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="toggle_function" name="toggle_function">
	    </td>
	  </tr>
	  <tr>
	    <td colspan="2">
	      <h3>Step Response</h3>
	      <label for="editorContent" style="display:none;">Step Response</label>
	      <div id="editor" style="height: 300px; width: 1500px;"></div>
	      <script nonce="<TMPL_VAR name="nonce"/>">
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.session.setMode("ace/mode/markdown");
		editor.setOption("showPrintMargin", false);
		document.getElementById('markdownForm').addEventListener('submit', function() {
		document.getElementById('editorContent').value = editor.getValue();
		});
	      </script>
	      <input type="hidden" name="ai_step_response" id="editorContent">
	    </td>
	  </tr>
	  <tr>
            <td colspan="2" class="button">
	      <br/><br/>
	      <button id="back-button" onclick="goBack()">Go Back</button>&nbsp;&nbsp;<input type="submit" value="Create" class="submit-button">
	      <br/><br/>
	    </td>
	  </tr>
	</table>
      </form>
    </div>
    <TMPL_INCLUDE NAME="/app/template/footer.tmpl">
  </body>
</html>

