<!DOCTYPE html>
<html>
  <head>
    <title>Feature</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script nonce="<TMPL_VAR name="nonce"/>">
      function goBack() {
          window.history.back();
      }
    </script>
  </head>
  <body>
    <TMPL_INCLUDE NAME="/app/template/header.tmpl">
      <h2>Create Feature</h2>
      <div class="container">
	<form action="/feature" method="POST" accept-charset="utf-8">
	  <table>
	    <tr>
	      <th colspan="2">
		&nbsp;
	      </th>
	    </tr>
	    <tr>
	      <td style="text-align: right">
		<label for="description">Description:</label>
	      </td>
	      <td style="text-align: left">
		<input id="description" name="description" required>
		<input type="hidden" name="action" value="create">
	      </td>
	    </tr>
	    <tr>
	      <td colspan="2" class="button">
		<br/><br/>
		<button id="back-button" onclick="goBack()">Go Back</button>&nbsp;&nbsp;<input type="submit" value="Create" class="submit-button">
		<br/><br/>
	      </td>
	    </tr>
	  </table>
	</form>
      </div>
      <TMPL_INCLUDE NAME="/app/template/footer.tmpl">
  </body>
</html>
