<!DOCTYPE html>
<html>
  <head>
    <title>Functions</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script nonce="<TMPL_VAR name="nonce"/>">
      function goBack() {
          window.history.back();
      }
    </script>
  </head>
  <body>
    <TMPL_INCLUDE NAME="/app/template/header.tmpl">
      <h2>Create Function</h2>
      <div class="container">
	<form action="/function" method="POST" accept-charset="utf-8">
	  <table>
	    <tr>
	      <th colspan="2">
		&nbsp;
	      </th>
	    </tr>
	    <tr>
	      <td style="text-align: right">
		<label for="name">Name:</label>
	      </td>
	      <td style="text-align: left">
		<input id="name" name="name" required>
		<input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
		<input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
		<input type="hidden" name="action" value="create">
	      </td>
	    </tr>
	    <tr>
	      <td style="text-align: right">
		<label for="purpose">Purpose:</label>
	      </td>
	      <td style="text-align: left">
		<input id="purpose" name="purpose" required>
	      </td>
	    </tr>
	    <tr>
	      <td style="text-align: right">
		<label for="active">Active:</label>
	      </td>
	      <td style="text-align: left">
		<input type="checkbox" id="active" name="active">
	      </td>
	    </tr>
	    <tr>
	      <td style="text-align: right">
		<label for="active">Arguments:</label>
	      </td>
	      <td style="text-align: left">
		Added via edit
	      </td>
	    </tr>
	    <tr>
	      <td style="text-align: right">
		<label for="active">Code:</label>
	      </td>
	      <td style="text-align: left">
		Added via edit
	      </td>
	    </tr>
	    <tr>
	      <td colspan="2" class="button">
		<br/><br/>
		<button id="back-button" onclick="goBack()">Go Back</button>&nbsp;&nbsp;<input type="submit" value="Create" class="submit-button">
		<br/><br/>
	      </td>
	    </tr>
	  </table>
	</form>
      </div>
      <TMPL_INCLUDE NAME="/app/template/footer.tmpl">
  </body>
</html>
