<!DOCTYPE html>
<html>
  <head>
    <title>Contexts</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script src="/assets/ace.js" type="text/javascript" charset="utf-8" nonce="<TMPL_VAR name="nonce"/>"></script>
  </head>
  <body>
    <header>
      <nav>
	<TMPL_LOOP name="nav">
	  <a href="<TMPL_VAR name="path"/>?agent_id=<TMPL_VAR name="agent_id"/>"><TMPL_VAR name="name"/></a>
	</TMPL_LOOP>
      </nav>
    </header>
    <h2>Edit Context</h2>
    <form id="markdownForm" action="/contexts" method="POST" accept-charset="utf-8">
      <table cellpadding="4">
	<tr>
	  <td>
	    <label for="ctxname">Name:</label>
	    <input id="ctxname" name="name" value="<TMPL_VAR name="name"/>" required><br/>
	    <input hidden id="agent_id" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	    <input hidden id="id" name="id" value="<TMPL_VAR name="id"/>">
	    <input hidden id="action" name="action" value="update">
	    <label for="pattern">Pattern:</label>
	    <input id="pattern" name="pattern" value="<TMPL_VAR name="pattern"/>" required><br/>
    
	    <label for="toggle_function">Toggle Function:</label>
	    <input id="toggle_function" name="toggle_function" value="<TMPL_VAR name="toggle_function"/>"><br/>

	    <label for="consolidate">Consolidate:</label>
	    <input type="checkbox" id="consolidate" name="consolidate" <TMPL_VAR name="consolidate_checked">><br/>

	    <label for="full_reset">Full reset:</label>
	    <input type="checkbox" id="full_reset" name="full_reset" <TMPL_VAR name="full_reset_checked">><br/>
	    <h3>User Prompt</h3>
	    <label for="editorContent" style="display:none;">User Prompt</label>
	    <div id="editor" style="height: 200px; width: 800px;"><TMPL_VAR name="user_prompt"/></div>
	    <script nonce="<TMPL_VAR name="nonce"/>">
	      var editor = ace.edit("editor");
	      editor.setTheme("ace/theme/monokai");
	      editor.session.setMode("ace/mode/markdown");
	      document.getElementById('markdownForm').addEventListener('submit', function() {
	      document.getElementById('editorContent').value = editor.getValue();
	      });
	    </script>
	    <input type="hidden" name="user_prompt" id="editorContent">
	    <h3>System Prompt</h3>

	    <label for="syseditorContent" style="display:none;">System Prompt</label>
	    <div id="syseditor" style="height: 300px; width: 800px;"><TMPL_VAR name="system_prompt"/></div>
	    <script nonce="<TMPL_VAR name="nonce"/>">
	      var syseditor = ace.edit("syseditor");
	      syseditor.setTheme("ace/theme/monokai");
	      syseditor.session.setMode("ace/mode/markdown");
	      document.getElementById('markdownForm').addEventListener('submit', function() {
	      document.getElementById('syseditorContent').value = syseditor.getValue();
	      });
	    </script>
	    <input type="hidden" name="system_prompt" id="syseditorContent">
	  <td>
	</tr>
      </table><br><br>
      <center><input type="submit" value="Update"  class="submit-button"></center><br><br>
    </form>
  </body>
</html>

