<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Agents</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script nonce="<TMPL_VAR name="nonce"/>">
      function goBack() {
          window.history.back();
      }
    </script>
  </head>
  <body>
    <header>
      <nav>
	<TMPL_LOOP name="nav">
	  <a href="<TMPL_VAR name="path"/>?agent_id=<TMPL_VAR name="agent_id"/>"><TMPL_VAR name="name"/></a>
	</TMPL_LOOP>
      </nav>
    </header>
    <h2>Edit Agent</h2>
    <div class="container">
      <form action="/" method="POST" accept-charset="utf-8">
	<table>
	  <tr>
	    <th colspan="2">
	      &nbsp;
	    </th>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="name">Name:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="hidden" name="action" value="update">
	      <input name="name" id="name" value="<TMPL_VAR name="name"/>" required>
	      <input type="hidden" name="id" value="<TMPL_VAR name="agent_id"/>">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
    	      <label for="description">Description:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="description" name="description" value="<TMPL_VAR name="description">" required>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="phone_number">Phone Number:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="phone_number" name="phone_number" value="<TMPL_VAR name="phone_number">" required>
	    </td>
	  </tr>
	  <tr>
	    <td class="button" colspan="2">
	      <br/><br/>
	      <button id="back-button" onclick="goBack()">Go Back</button>&nbsp;&nbsp;<input type="submit" value="Update"  class="submit-button">
	    </td>
	  </tr>
	</table>
      </form>
    </div>
  </body>
</html>

