<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Languages</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script nonce="<TMPL_VAR name="nonce"/>">
      function goBack() {
          window.history.back();
      }
    </script>
  </head>
  <body>
    <h2>Edit Languages for <TMPL_VAR name="agent_name"/></h2>
    <div class="container">
      <form action="/language" method="POST" accept-charset="utf-8">
	<table>
	  <tr>
	    <th colspan="2">
	      &nbsp
	    </th>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="code">Code:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="code" name="code" value="<TMPL_VAR name="code"/>" required><br/>
	      <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	      <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
	      <input type="hidden" name="agent_name" value="<TMPL_VAR name="agent_name"/>">
	      <input type="hidden" name="action" value="update">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	    <label for="name">Name:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="name" name="name" value="<TMPL_VAR name="name"/>" required>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
    	      <label for="voice">Voice:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="voice" name="voice" value="<TMPL_VAR name="voice">" required>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="engine">Engine:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="engine" name="engine" value="<TMPL_VAR name="engine"/>" required>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      
	      <label for="fillers">Fillers:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="fillers" style="width: 600px;" name="fillers" value="<TMPL_VAR name="fillers"/>">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="language_order">Order:</label>
	    </td>
	    <td style="text-align: left">
	      <select id="language_order" name="language_order">
	        <option value="0"<TMPL_IF EXPR="language_order == 0"> selected</TMPL_IF>>0</option>
	        <option value="1"<TMPL_IF EXPR="language_order == 1"> selected</TMPL_IF>>1</option>
	        <option value="2"<TMPL_IF EXPR="language_order == 2"> selected</TMPL_IF>>2</option>
	        <option value="3"<TMPL_IF EXPR="language_order == 3"> selected</TMPL_IF>>3</option>
	        <option value="4"<TMPL_IF EXPR="language_order == 4"> selected</TMPL_IF>>4</option>
	        <option value="5"<TMPL_IF EXPR="language_order == 5"> selected</TMPL_IF>>5</option>
	        <option value="6"<TMPL_IF EXPR="language_order == 6"> selected</TMPL_IF>>6</option>
	        <option value="7"<TMPL_IF EXPR="language_order == 7"> selected</TMPL_IF>>7</option>
	        <option value="8"<TMPL_IF EXPR="language_order == 8"> selected</TMPL_IF>>8</option>
	        <option value="9"<TMPL_IF EXPR="language_order == 9"> selected</TMPL_IF>>9</option>
	        <option value="10"<TMPL_IF EXPR="language_order == 10"> selected</TMPL_IF>>10</option>
	        <option value="11"<TMPL_IF EXPR="language_order == 11"> selected</TMPL_IF>>11</option>
	        <option value="12"<TMPL_IF EXPR="language_order == 12"> selected</TMPL_IF>>12</option>
	        <option value="13"<TMPL_IF EXPR="language_order == 13"> selected</TMPL_IF>>13</option>
	        <option value="14"<TMPL_IF EXPR="language_order == 14"> selected</TMPL_IF>>14</option>
	        <option value="15"<TMPL_IF EXPR="language_order == 15"> selected</TMPL_IF>>15</option>
	        <option value="16"<TMPL_IF EXPR="language_order == 16"> selected</TMPL_IF>>16</option>
	        <option value="17"<TMPL_IF EXPR="language_order == 17"> selected</TMPL_IF>>17</option>
	        <option value="18"<TMPL_IF EXPR="language_order == 18"> selected</TMPL_IF>>18</option>
	        <option value="19"<TMPL_IF EXPR="language_order == 19"> selected</TMPL_IF>>19</option>
	        <option value="20"<TMPL_IF EXPR="language_order == 20"> selected</TMPL_IF>>20</option>
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="2" class="button">
	      <br/><br/>
	      <button id="back-button" onclick="goBack()">Go Back</button>&nbsp;&nbsp;<input type="submit" value="Update"  class="submit-button">
	      <br/><br/>
	    </td>
	  </tr>
	</table>
      </form>
    </div>
  </body>
</html>

