<!DOCTYPE html>
<html>
  <head>
    <title>Agents</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
  </head>
  <body>
    <header>
      <nav>
	<TMPL_LOOP name="nav">
	  <a href="<TMPL_VAR name="path"/>?agent_id=<TMPL_VAR name="agent_id"/>"><TMPL_VAR name="name"/></a>
	</TMPL_LOOP>
      </nav>
    </header>
    <h2>Edit Agent</h2>
    <form action="/" method="POST" accept-charset="utf-8">
      <table cellpadding="4">
	<tr>
	  <td>
	    <input hidden id="action" name="action" value="update">
	    <label for="name">Name:</label>
	    <input id="name" name="name" value="<TMPL_VAR name="name"/>" required><br/>
	    <input hidden id="id" name="id" value="<TMPL_VAR name="agent_id"/>">

    	    <label for="description">Description:</label>
	    <input id="description" name="description" value="<TMPL_VAR name="description">" required><br/>

	    <label for="hints">Hints:</label>
	    <input id="hints" name="hints" value="<TMPL_VAR name="hints"/>"><br/>
	  </td>
	</tr>
      </table><br><br>
      <center><input type="submit" value="Update"  class="submit-button"></center><br><br>
    </form>
  </body>
</html>

