<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Step</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script src="/assets/ace.js" type="text/javascript" charset="utf-8" nonce="<TMPL_VAR name="nonce"/>"></script>
    <script nonce="<TMPL_VAR name="nonce"/>">
      function goBack() {
          window.history.back();
      }
    </script>
  </head>
  <body>
    <TMPL_INCLUDE NAME="/app/template/header.tmpl">
    <h2>Edit Step</h2>
    <div class="container">
      <form id="markdownForm" action="/step" method="POST" accept-charset="utf-8">
	<table>
	  <tr>
	    <th colspan="2">
	      &nbsp;
	    </th>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="step_name">Step Name:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="step_name" name="step_name" value="<TMPL_VAR name="step_name"/>" required>
	      <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	      <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
	      <input type="hidden" name="action" value="update">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="context">Context:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="context" name="context" value="<TMPL_VAR name="context"/>">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="step_order">Step Order:</label>
	    </td>
	    <td style="text-align: left">
	      <select id="step_order" name="step_order">
	        <option value="0"<TMPL_IF EXPR="step_order == 0"> selected</TMPL_IF>>0</option>
	        <option value="1"<TMPL_IF EXPR="step_order == 1"> selected</TMPL_IF>>1</option>
	        <option value="2"<TMPL_IF EXPR="step_order == 2"> selected</TMPL_IF>>2</option>
	        <option value="3"<TMPL_IF EXPR="step_order == 3"> selected</TMPL_IF>>3</option>
	        <option value="4"<TMPL_IF EXPR="step_order == 4"> selected</TMPL_IF>>4</option>
	        <option value="5"<TMPL_IF EXPR="step_order == 5"> selected</TMPL_IF>>5</option>
	        <option value="6"<TMPL_IF EXPR="step_order == 6"> selected</TMPL_IF>>6</option>
	        <option value="7"<TMPL_IF EXPR="step_order == 7"> selected</TMPL_IF>>7</option>
	        <option value="8"<TMPL_IF EXPR="step_order == 8"> selected</TMPL_IF>>8</option>
	        <option value="9"<TMPL_IF EXPR="step_order == 9"> selected</TMPL_IF>>9</option>
	        <option value="10"<TMPL_IF EXPR="step_order == 10"> selected</TMPL_IF>>10</option>
	        <option value="11"<TMPL_IF EXPR="step_order == 11"> selected</TMPL_IF>>11</option>
	        <option value="12"<TMPL_IF EXPR="step_order == 12"> selected</TMPL_IF>>12</option>
	        <option value="13"<TMPL_IF EXPR="step_order == 13"> selected</TMPL_IF>>13</option>
	        <option value="14"<TMPL_IF EXPR="step_order == 14"> selected</TMPL_IF>>14</option>
	        <option value="15"<TMPL_IF EXPR="step_order == 15"> selected</TMPL_IF>>15</option>
	        <option value="16"<TMPL_IF EXPR="step_order == 16"> selected</TMPL_IF>>16</option>
	        <option value="17"<TMPL_IF EXPR="step_order == 17"> selected</TMPL_IF>>17</option>
	        <option value="18"<TMPL_IF EXPR="step_order == 18"> selected</TMPL_IF>>18</option>
	        <option value="19"<TMPL_IF EXPR="step_order == 19"> selected</TMPL_IF>>19</option>
	        <option value="20"<TMPL_IF EXPR="step_order == 20"> selected</TMPL_IF>>20</option>
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="valid_steps">Valid Steps:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="valid_steps" name="valid_steps" value="<TMPL_VAR name="valid_steps"/>">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="valid_contexts">Valid Contexts:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="valid_contexts" name="valid_contexts" value="<TMPL_VAR name="valid_contexts"/>">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="step_criteria">Step Criteria:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="step_criteria" name="step_criteria" value="<TMPL_VAR name="step_criteria"/>">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="text">Text:</label>
	    </td>
	    <td style="text-align: left">
	      <textarea id="text" name="text" rows="25" cols="150"><TMPL_VAR name="text"></textarea>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="functions">Functions:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="text" id="functions" name="functions" value="<TMPL_VAR name="functions"/>">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="end">End:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="checkbox" id="end" name="end" value="1" <TMPL_IF name="end">checked</TMPL_IF>>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="skip_user_turn">Skip User Turn:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="checkbox" id="skip_user_turn" name="skip_user_turn" value="1" <TMPL_IF name="skip_user_turn">checked</TMPL_IF>>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="full_reset">Full Reset:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="checkbox" id="full_reset" name="full_reset" value="1" <TMPL_IF name="full_reset">checked</TMPL_IF>>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="consolidate">Consolidate:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="checkbox" id="consolidate" name="consolidate" value="1" <TMPL_IF name="consolidate">checked</TMPL_IF>>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="2">
	      <h3>System Prompt</h3>
	      <label for="editorContent" style="display:none;">System Prompt</label>
	      <div id="editor" style="height: 300px; width: 1500px;"><TMPL_VAR name="system_prompt"></div>
	      <script nonce="<TMPL_VAR name="nonce"/>">
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.session.setMode("ace/mode/markdown");
		editor.setOption("showPrintMargin", false);
		document.getElementById('markdownForm').addEventListener('submit', function() {
		document.getElementById('editorContent').value = editor.getValue();
		});
	      </script>
	      <input type="hidden" name="system_prompt" id="editorContent">
	    </td>
	  </tr>
	  <tr>
	    <td colspan="2">
	      <h3>User Prompt</h3>
	      <label for="usereditorContent" style="display:none;">User Prompt</label>
	      <div id="usereditor" style="height: 300px; width: 1500px;"><TMPL_VAR name="user_prompt"></div>
	      <script nonce="<TMPL_VAR name="nonce"/>">
		var usereditor = ace.edit("usereditor");
		usereditor.setTheme("ace/theme/monokai");
		usereditor.session.setMode("ace/mode/markdown");
		usereditor.setOption("showPrintMargin", false);
		document.getElementById('markdownForm').addEventListener('submit', function() {
		document.getElementById('usereditorContent').value = usereditor.getValue();
		});
	      </script>
	      <input type="hidden" name="user_prompt" id="usereditorContent">
	    </td>
	  </tr>
	  <tr>
	    <td colspan="2" class="button">
	      <br/><br/>
	       <button id="back-button" onclick="goBack()">Go Back</button>&nbsp;&nbsp;<input type="submit" value="Update"  class="submit-button">
	      <br/><br/>
	    </td>
	  </tr>
	</table>
      </form>
    </div>
  </body>
</html>

