<!DOCTYPE html>
<html>
  <head>
    <title>Functions</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script src="/assets/ace.js" type="text/javascript" charset="utf-8" nonce="<TMPL_VAR name="nonce"/>"></script>
    <script nonce="<TMPL_VAR name="nonce"/>">
      function goBack() {
          window.history.back();
      }
    </script>
    <script type="text/javascript" nonce="<TMPL_VAR name="nonce"/>">
      function openPopup() {
            event.preventDefault();
            var width = 1200;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 4;

            var url = "/functionargs?agent_id=<TMPL_VAR name="agent_id"/>&function_id=<TMPL_VAR name="id"/>&function_name=<TMPL_VAR name="name"/>";

            var popupWindow = window.open(url, "Popup Window", 'width=' + width + ',height=' + height + ',top=' + top + ',left=' + left);
      }
    </script>
  </head>
  <body>
    <header>
      <nav>
	<TMPL_LOOP name="nav">
	  <a href="<TMPL_VAR name="path"/>?agent_id=<TMPL_VAR name="agent_id"/>"><TMPL_VAR name="name"/></a>
	</TMPL_LOOP>
      </nav>
    </header>
    <h2>Edit Function</h2>
    <form id="functionForm" action="/function" method="POST" accept-charset="utf-8">
      <div class="container">
	<table>
	  <tr>
	    <td style="text-align: right">
	      <label for="name">Name:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="name" name="name" value="<TMPL_VAR name="name"/>" required>
	      <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	      <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
	      <input type="hidden" name="action" value="update">
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="purpose">Purpose:</label>
	    </td>
	    <td style="text-align: left">
	      <input id="purpose" style="width: 600px;" name="purpose" value="<TMPL_VAR name="purpose"/>" required>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">    
    	      <label for="active">Active:</label>
	    </td>
	    <td style="text-align: left">
	      <input type="checkbox" id="active" name="active" <TMPL_VAR name="active_checked">>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <label for="args">Arguments:</label>
	    </td>
	    <td style="align-items: left">
	      <button id="args" onclick="openPopup()" class="submit-button">Edit Arguments</button>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="2">
	      <div id="editor" style="height: 900px; width: 1000px;"><TMPL_VAR name="code"/></div>
	      <script nonce="<TMPL_VAR name="nonce"/>">
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.setOption("showPrintMargin", false);
		editor.session.setMode("ace/mode/perl");
		document.getElementById('functionForm').addEventListener('submit', function() {
		document.getElementById('editorContent').value = editor.getValue();
		});
	      </script>
	      <input type="hidden" name="code" id="editorContent">
	    </td>
	  </tr>
	  <td colspan="2" class="button">
	    <br/><br/>
	    <button id="back-button" onclick="goBack()">Go Back</button>&nbsp;&nbsp;<input type="submit" value="Update"  class="submit-button">
	  </td>
	</table>
      </div>
    </form>
  </body>
</html>

