<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
  </head>
  <body>
    <TMPL_INCLUDE NAME="/app/template/header.tmpl">
      <h2>Error</h2>
      <div class="container">
	<table>
	  <div style="text-align: center;">
	    <table>
	      <tr>
		<td><TMPL_VAR name="error"/></td>
	      </tr>
	    </table>
	  </div>
	</table>
      </div>
      <TMPL_INCLUDE NAME="/app/template/footer.tmpl">
  </body>
</html>
