    <title class="capitalize-first"><TMPL_VAR name="_title"/></title>
    <link rel="stylesheet" href="<TMPL_VAR name="_css"/>" type="text/css">
    <link rel="icon" type="image/png" href="<TMPL_VAR name="_favicon"/>">