<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Languages</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script type="text/javascript" nonce="<TMPL_VAR name="nonce"/>">
      function confirmSubmit(event) {
      var confirmAction = confirm("Are you sure you want to delete this language?");
	if (!confirmAction) {
	    event.preventDefault();  // Prevents the default action (form submission) if user cancels
	}
      }

      document.addEventListener("DOMContentLoaded", function() {
	var buttons = document.querySelectorAll(".delete-button");
	buttons.forEach(function(button) {
	    button.addEventListener("click", confirmSubmit);
	});
      });
      function closeWindow() {
	window.close(); // Close the current browser window/tab
      }
    </script>
  </head>
  <body>
    <h2>Languages for <TMPL_VAR name="agent_name"/></h2>
    <div class="container">
      <table class="info-table">
	<tr>
	  <th>Code</th>
	  <th>Name</th>
	  <th>Voice</th>
	  <th>Engine</th>
	  <th>Fillers</th>
	  <th>Order</th>
	  <th>Action</th>
	</tr>
	<TMPL_LOOP name="languages">
        <tr>
	  <td><TMPL_VAR name="code"/></td>
	  <td><TMPL_VAR name="name"/></td>
	  <td><TMPL_VAR name="voice"/></td>
	  <td><TMPL_VAR name="engine"/></td>
	  <td><TMPL_VAR name="fillers"/></td>
	  <td><TMPL_VAR name="language_order"/></td>
	  <td>
	    <form action="/language" method="POST" accept-charset="utf-8" class="inline-form">
	      <input type="hidden" name="action" value="delete">
	      <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	      <input type="hidden" name="agent_name" value="<TMPL_VAR name="agent_name"/>">
	      <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
	      <input type="submit" class="delete-button" id="delete-button" value="Delete">
	    </form>
	    <form action="/language" accept-charset="utf-8" method="POST" class="inline-form">
	      <input type="hidden" name="action" value="edit">
	      <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	      <input type="hidden" name="agent_name" value="<TMPL_VAR name="agent_name"/>">
	      <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
	      <input type="submit" class="add-button" id="submit-button" value="Edit">
	    </form>
	  </td>
	</tr>
	</TMPL_LOOP>
	<tr>
	  <td colspan="7" class="button">
	    <br/><br/>
	    <form action="/language" method="POST" accept-charset="utf-8" class="inline-form">
	      <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
	      <input type="hidden" name="agent_name" value="<TMPL_VAR name="agent_name"/>">
	      <input type="hidden" name="action" value="add">
	      <input type="submit" value="Add Language" class="add-button"> <button class="add-button" class="close-button" onclick="closeWindow()">Close</button>
	    </form>
	    <br/><br/>
	  </td>
	</tr>
      </table>
    </div>
  </body>
</html>
