<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Steps</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script type="text/javascript" nonce="<TMPL_VAR name="nonce"/>">
    function confirmSubmit(event) {
	var confirmAction = confirm("Are you sure you want to delete this step?");
	if (!confirmAction) {
	    event.preventDefault();  // Prevents the default action (form submission) if user cancels
	}
    }

    document.addEventListener("DOMContentLoaded", function() {
	var buttons = document.querySelectorAll(".delete-button");
	buttons.forEach(function(button) {
	    button.addEventListener("click", confirmSubmit);
	});
    });
    </script>
  </head>
  <body>
    <TMPL_INCLUDE NAME="/app/template/header.tmpl">
      <h2>Steps</h2>
      <div class="container">
	<table class="info-table">
	  <tr>
	    <th style="text-align: left;">Step Name</th>
	    <th style="text-align: left;">Context</th>
		<th style="text-align: left;">Step Order</th>
	    <th style="text-align: left;">Functions</th>
	    <th style="text-align: left;">Step Criteria</th>
	    <th style="text-align: left;">Valid Steps</th>
	    <th style="text-align: left;">End</th>
	    <th style="text-align: left;">Skip User Turn</th>
	    <th style="text-align: left;">Valid Contexts</th>
	    <th style="text-align: left;">Full Reset</th>
	    <th style="text-align: left;">Consolidate</th>
   	    <th style="text-align: left;">Action</th>
	  </tr>
	  <TMPL_LOOP name="steps">
	    <tr>
	      <td><TMPL_VAR name="step_name"/></td>
	      <td><TMPL_VAR name="context"/></td>
		  <td><TMPL_VAR name="step_order"/></td>
	      <td><TMPL_VAR name="functions"/></td>
	      <td><TMPL_VAR name="step_criteria"/></td>
	      <td style="max-width: 150px; word-wrap: break-word;"><TMPL_VAR name="valid_steps"/></td>
	      <td><TMPL_VAR name="end"/></td>
	      <td><TMPL_VAR name="skip_user_turn"/></td>
	      <td style="max-width: 150px; word-wrap: break-word;"><TMPL_VAR name="valid_contexts"/></td>
	      <td><TMPL_VAR name="full_reset"/></td>
	      <td><TMPL_VAR name="consolidate"/></td>
	      <td>
		<form action="/step" method="POST" accept-charset="utf-8" class="inline-form">
		  <input type="hidden" name="action" value="delete">
		  <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
		  <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
		  <input type="submit" class="delete-button" id="delete-button" value="Delete">
		</form>
		<form action="/step" accept-charset="utf-8" method="POST" class="inline-form">
		  <input type="hidden" name="action" value="edit">
		  <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
		  <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
		  <input type="submit" class="add-button" id="submit-button" value="Edit">
		</form>
	      </td>
	    </tr>
	    <!-- <tr>
	      <td style="word-wrap: break-word;" colspan="12">
		<strong>Text:</strong> <TMPL_VAR name="text"><br>
		<strong>System Prompt:</strong> <TMPL_VAR name="system_prompt"><br>
		<strong>User Prompt:</strong> <TMPL_VAR name="user_prompt">
	      </td>
	    </tr> -->
	  </TMPL_LOOP>
	  <tr>
	    <td colspan="12" class="button">
	      <br/><br/>
	      <form action="/step" method="POST" accept-charset="utf-8">
		<input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
		<input type="hidden" name="action" value="add">
		<input type="submit" value="Add Step" class="add-button">
	      </form>
	    </td>
	  </tr>
	</table>
      </div>
      <TMPL_INCLUDE NAME="/app/template/footer.tmpl">
  </body>
</html>
