<!DOCTYPE html>
<html>
  <head>
    <title>Summaries</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script type="text/javascript" nonce="<TMPL_VAR name="nonce"/>">
      function confirmSubmit(event) {
      var confirmAction = confirm("Are you sure you want to delete this summary?");
      if (!confirmAction) {
      event.preventDefault();  // Prevents the default action (form submission) if user cancels
      }
      }
      
      document.addEventListener("DOMContentLoaded", function() {
      var buttons = document.querySelectorAll(".delete-button");
      buttons.forEach(function(button) {
      button.addEventListener("click", confirmSubmit);
      });
      });
    </script>
  </head>
  <body>
    <TMPL_INCLUDE NAME="/app/template/header.tmpl">
      <h2>Summaries</h2>
      <div class="container">
	<table class="info-table">
	  <tr>
	    <th>Convo ID</th>
	    <th>Created</th>
	    <th>Summary</th>
	    <th>Action</th>
	  </tr>
	  <TMPL_LOOP name="table_contents">
	    <tr>
	      <td><TMPL_VAR name="convo_id"/></td>
	      <td class="created"><TMPL_VAR name="created"/></td>
	      <td><TMPL_VAR name="summary"/></td>
	      <td>
		<form action="/summary" method="POST" accept-charset="utf-8">
		  <input type="hidden" name="action" value="delete">
		  <input type="hidden" name="id" value="<TMPL_VAR name="id"/>">
		  <input type="hidden" name="agent_id" value="<TMPL_VAR name="agent_id"/>">
		  <input type="submit" id="delete-button" class="delete-button" value="Delete">
		</form>
	      </td>
	    </tr>
	  </TMPL_LOOP>
	</table>
      </div>
      <TMPL_INCLUDE NAME="/app/template/footer.tmpl">
  </body>
</html>
